<footer class="text-center text-lg-start bg-light text-muted mt-auto">

    <div class="text-center p-2">
        <i class="far fa-copyright"></i> Kindness Club | contact | made by June
    </div>

</footer>