<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ms-lg-5" href="/">
            <img src="/images/plant-1.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Kindness Club
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="width: 100%;">
                <li class="nav-item">
                    <a id="dashboard" class="nav-link" aria-current="page" href="/dashboard">dashboard</a>
                </li>
                <li class="nav-item">
                    <a id="events" class="nav-link" href="/events">volunteer now</a>
                </li>
                <li class="nav-item">
                    <a id="projects" class="nav-link" href="/projects">our projects</a>
                </li>
                <!-- <li class="nav-item">
                    <a id="about" class="nav-link" href="/about" tabindex="-1" aria-disabled="true">about us</a>
                </li> -->
                <% if (!currentUser) { %>
                    <li class="nav-item ms-md-auto">
                        <a href="/users/login" class="nav-link">login</a>
                    </li>
                    <li class="nav-item ms-md-2 me-md-5">
                        <a href="/users/register" class="nav-link">register</a>
                    </li>

                    <% } else {%>
                        <li class="nav-item ms-md-auto me-md-5">
                            <a href="/users/logout" class="nav-link">logout</a>
                        </li>
                        <% } %>


            </ul>
        </div>

    </div>
</nav>