<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <main class="min-vh-100 ms-md-5 ps-md-4 ps-1 mb-5">
            <h1 class="mt-4 mb-2">All volunteer opportunities</h1>
            <!-- search & filter -->
            <form action="" class="mb-3">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <input type="text" id="search" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto" style="padding-left: 0px">
                        <label for="search" class="col-form-label"><button
                                style="padding-top: 7px; padding-bottom: 7px;"
                                class="btn btn-outline-success btn-sm">Search</button></label>
                    </div>
                    <div class="col-auto">
                        <span id="searchHelpInline" class="form-text">
                            filter by <a href="">location</a> | <a href="">category</a> | <a href="">date</a>
                        </span>
                    </div>
                </div>
            </form>


            <div class="row">
                <!-- map -->
                <div class="col-md-7">
                    <div id='map' style='width: 100%; height: 75vh;'></div>
                </div>
                <!-- event card list -->
                <div class="col-md-5 event-list">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">event name or description</h5>
                            <p class="card-text"><i class="fas fa-calendar-alt me-2"></i>2001-09-18
                                <i class="ms-3 me-2 far fa-clock"></i>9:30 am - 2:00 pm
                            </p>

                            <a href="#" class="btn btn-success btn-sm">view event</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">event name or description</h5>
                            <p class="card-text"><i class="fas fa-calendar-alt me-2"></i>2001-09-18
                                <i class="ms-3 me-2 far fa-clock"></i>9:30 am - 2:00 pm
                            </p>

                            <a href="#" class="btn btn-success btn-sm">view event</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">event name or description</h5>
                            <p class="card-text"><i class="fas fa-calendar-alt me-2"></i>2001-09-18
                                <i class="ms-3 me-2 far fa-clock"></i>9:30 am - 2:00 pm
                            </p>

                            <a href="#" class="btn btn-success btn-sm">view event</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">event name or description</h5>
                            <p class="card-text"><i class="fas fa-calendar-alt me-2"></i>2001-09-18
                                <i class="ms-3 me-2 far fa-clock"></i>9:30 am - 2:00 pm
                            </p>

                            <a href="#" class="btn btn-success btn-sm">view event</a>
                        </div>
                    </div>


                    <nav class="mt-2" aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>

                </div>
            </div>





        </main>



        <%- include('./partials/footer.ejs') %>
            <%- include('./partials/scriptTags.ejs') %>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoianVuZW9oNzEwIiwiYSI6ImNrcm05dzd2YzdyZWQydm1ueXEzZmFkY2kifQ.AvI0q6S-AIRJgbIOz7ZBHg';
                    const map = new mapboxgl.Map({
                        container: 'map', // container ID
                        style: 'mapbox://styles/mapbox/streets-v11', // style URL
                        center: [-79.347015, 43.651070], // starting position [lng, lat]
                        zoom: 11 // starting zoom
                    });
                    map.scrollZoom.disable()
                    map.addControl(new mapboxgl.NavigationControl())
                </script>

                <script>
                    const pageName = "events"
                    const navLink = document.getElementById(pageName);
                    navLink.classList.add("active")
                </script>
</body>

</html>