<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

        hi



        <%- include('./partials/footer.ejs') %>
            <%- include('./partials/scriptTags.ejs') %>
</body>

</html>