<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body class="container-lg px-4 h-100">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="images/plant-1.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Kindness Club
            </a>

    </nav>
    <div class="row">
        <div class="col" style="min-height: 75px;"></div>
    </div>

    <div class="row mt-sm-5">
        <div class="col-1"></div>
        <div class="col-11">
            <div class="row">
                <h1>Volunteering made easier</h1>

                <div class="col-lg-6">
                    <div class="row mt-4">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <h4>for volunteers</h4>
                            <p class="lead">Browse through a wide selection of volunteering opportunities and sign up
                                with ease.
                            </p>
                            <a href="/dashboard" class="btn btn-success">sign up & volunteer</a>
                        </div>
                        <div class="col-md-6">
                            <h4>for organizations</h4>
                            <p class="lead">Post your volunteering opportunities.
                            </p>
                            <a href="/org" class="btn btn-outline-success">become a partner</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-5 mt-lg-0 mb-5 mb-lg-0">
                    <img src="images/sitting-together.svg" height="100%" width="100%" alt="person with flowers">
                </div>
            </div>

        </div>
    </div>

    </div>


    <%- include('partials/scriptTags.ejs') %>
</body>

</html>