<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/org-navbar.ejs') %>
        <main class="min-vh-100">

            hi
        </main>



        <%- include('./partials/footer.ejs') %>
            <%- include('./partials/scriptTags.ejs') %>
</body>

</html>