<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <main class="container">
        <%- include('./partials/org-navbar.ejs') %>
            <%- include('./partials/flash.ejs') %>
                hi
    </main>


    <%- include('./partials/scriptTags.ejs') %>
</body>

</html>