<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body class="container-lg px-4">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="images/plant-1.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Kindness Club
            </a>
            <div class="navbar-nav d-flex flex-row justify-content-evenly">
                <a class="nav-link">logout</a>
    </nav>

    <div class="vh-100 d-flex align-items-center justify-content-center">
        <div class="row mb-5 mx-lg-5 px-lg-5">
            <div class="col-lg-5 card">
                <div class=" card-body">
                    <h5 class="card-title">Add new event</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="/dashboard" class="btn btn-outline-success">Add a new event</a>
                </div>
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-5 card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="/dashboard" class="btn btn-outline-success">View events added</a>

                </div>
            </div>

        </div>



    </div>




    <%- include('./partials/scriptTags.ejs') %>
</body>

</html>